# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Marcin Wisniowski
email = shfx@shfx.pl
[core]
	excludesfile = /Users/opera_user/.gitignoreglobal
	precomposeUnicode = true
